body * {
    font-family: 'AvenirNextCyr-Medium', sans-serif;
    font-size: 14px;
    line-height: 17px;
}

h2 {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-family: 'AvenirNextCyr-Demi', serif;
    font-size: 26px;
    line-height: 32px;
}

h5 {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.bold-b {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 700;
}

:root {
    --beige: #D99768;
    --brown: #583A2D;
    --light: #FCE6D2;
    --red: #D95D39;
    --firm: #F2994A;
}

.beige {
    background-color: var(--beige);
}

.beige-text {
    color: var(--beige);
}

.brown {
    background-color: var(--brown);

}

.brown-text {
    color: var(--brown);
}

.light {
    background: var(--light);
}

.ligth-text {
    color: var(--light);
}

.red {
    background: var(--red);
}

.red-text {
    color: var(--red);
}

.firm {
    background-color: var(--firm);
}

.firm-text {
    color: var(--firm);
}
