body * {
    font-family: 'AvenirNextCyr-Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}


h2 {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

h5 {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

