body * {
    font-family: 'AvenirNextCyr-Medium', sans-serif;
    font-size: 14px;
    line-height: 17px;
}

h2 {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
}

h3 {
    font-family: 'AvenirNextCyr-Demi', serif;
    font-size: 26px;
    line-height: 32px;
}

h5 {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.bold-b {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: 700;
}

.beige {
    background-color: #D99768;
}

.beige-text {
    color: #D99768;
}

.brown {
    background-color: #583A2D;
}

.brown-text {
    color: #583A2D;
}

.light {
    background: #FCE6D2;
}

.ligth-text {
    color: #FCE6D2;
}

.red {
    background: #D95D39;
}

.firm {
    background-color: #F2994A;
}

.firm-text {
    color: #F2994A;
}
